#pdf {
	float: left;
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#pdf li {
	background: #5a7fa9;
	color: #fff;
	border: 1px solid #5a4fb9;
	margin-bottom: 1px;
	border: none;
}

#pdf {
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#pdf li {
    float: right;
    background: #5a7fa9;
    color: #fff;
    border: 1px solid #5a4fb9;
    margin-bottom: 1px;
    border: none;
    border-radius: 5px;
}
#pdf li a {
    display: block;
    background-color: #5a7fa9;
    color: #fff;
    font: 1em "Trebuchet MS" , Arial, sans-serif;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}
